#
# The MySQL database server configuration file.
#
# You can copy this to one of:
# - "/etc/mysql/my.cnf" to set global options,
# - "~/.my.cnf" to set user-specific options.
# 
# One can use all long options that the program supports.
# Run program with --help to get a list of available options and with
# --print-defaults to see which it would actually understand and use.
#
# For explanations see
# http://dev.mysql.com/doc/mysql/en/server-system-variables.html

#
# * IMPORTANT: Additional settings that can override those from this file!
#   The files must end with '.cnf', otherwise they'll be ignored.
#
[mysqld]
log_error = /var/log/mysql/error.log
slow_query_log_file = /var/log/mysql/slow-query.log
slow_query_log = ON
long_query_time = 0.0
log_output = FILE
# general_log = OFF 計測が終わったら上記をコメントアウトしこの行を追加
skip-log-bin

# 基本設定
innodb_flush_log_at_trx_commit = 2
innodb_flush_method = O_DIRECT
innodb_doublewrite = 0

# エラー対応系
# ファイルディスクリプタ設定/警告参照(`Buffered warning: Changed limits: max_open_files`)
max_connections = 1024
# ファイルディスクリプタ設定/警告参照(`Buffered warning: Changed limits: max_open_files`)
open_files_limit = 8192

# チューニング系
# データとインデックスがロードされるメモリ領域/搭載メモリの80%目安/defaultは128MB
innodb_buffer_pool_size = 3G
# InnoDBの更新ログを記録するディスク上の領域/innodb_buffer_pool_sizeの25%目安/defaultは96MB
innodb_log_file_size = 800M

!includedir /etc/mysql/conf.d/
!includedir /etc/mysql/mysql.conf.d/
